* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  color: #a3a3a3;
}

/************************************************
                    LAYOUT
 ************************************************/

#main-content {
  height: calc(100vh - 100px);
  display: flex;
}

#sidebar {
  width: 300px;
  background-color: black;
}

#section-content {
  width: calc(100% - 300px);
  overflow: auto;
}

/* HEADER */

#header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
}

/* FOOTER */

#footer {
  height: 100px;
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#footer .footer-item-left {
  display: flex;
  gap: 1rem;
  height: 60%;
}

/************************************************
                    UTILS
 ************************************************/

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding: 1rem;
}
/************************************************
                    SECTION
 ************************************************/

/************************************************
                    RESPONSIVE
 ************************************************/

@media screen and (max-width: 600px) {
  #section-content {
    width: calc(100% - 50px);
  }

  #sidebar {
    width: 50px;
  }
}
