* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  color: #a3a3a3;
}

/************************************************
                    LAYOUT
 ************************************************/

#main-content {
  height: calc(100vh - 100px);
  display: flex;
}

#sidebar {
  width: 300px;
  background-color: black;
}

#section-content {
  width: calc(100% - 300px);
  overflow: auto;
}

/* HEADER */

header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* MAIN-NAV */

#main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#main-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#main-nav li {
  margin: 0 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: gray;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  justify-content: space-between;
  gap: 1rem;
}

footer .footer-item-left {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100px;
  padding: 1rem;
}

footer .footer-item-left .song-on {
  height: 75%;
}

footer .footer-item-center .song-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-item-center {
  margin-top: 1rem;
}

.song-bar {
  display: flex;
  height: 50%;
}

.song-bar > div {
  margin: 5px;
}

.progress-bar {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  height: 50%;
  align-items: center;
}

.bar-small {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #a3a3a3;
  border-radius: 2px;
}

.bar {
  display: block;
  width: 300px;
  height: 4px;
  background-color: #a3a3a3;
  border-radius: 2px;
}

.white-bar {
  display: block;
  width: 30%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

footer .footer-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

/************************************************
                    SIDEBAR
 ************************************************/
button {
  color: white;
  background-color: transparent;
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/************************************************
                    UTILS
 ************************************************/

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding: 1rem;
}

li {
  list-style: none;
}

/************************************************
                    SECTION
 ************************************************/

/************************************************
                    RESPONSIVE
 ************************************************/

@media screen and (max-width: 600px) {
  #section-content {
    width: calc(100% - 50px);
  }

  #sidebar {
    width: 50px;
  }
}
